<nav>
    <div class="site-title">
        <a href="/">
            <h1>Divya Rao</h1>
        </a>
        <p>While there's code , there's bug</p>
    </div>
    <ul>
        <li><a href="/">Blogs</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/blogs/create">New Blog</a></li>
    </ul>
</nav>