<!DOCTYPE html>
<%- include("./partials/head.ejs") %>

    <html lang="en">

    <body>
        <%- include("./partials/nav.ejs") %>
            <h1>Hello</h1>
            <%- include("./partials/footer.ejs") %>
    </body>

    </html>