<!DOCTYPE html>
<html lang="en">

<%- include("./partials/head.ejs") %>

    <body>
        <%- include("./partials/nav.ejs") %>
            <div>
                <h1>Blog</h1>
                <h2>Views</h2>
            </div>
            <%- include("./partials/footer.ejs")%>
    </body>


</html>